{% extends "blank-page.html" %}
{% block content %}
<head>
  <script type="text/javascript" language="javascript">
      var noFields = 2;

      function addField(description, type, radioOptions, placeholder, validation){
        var newDiv = document.createElement("div")
        newDiv.setAttribute('id', 'formField'+noFields)
        var radioType = ""
        radioChecked = textChecked = fileChecked = checkBoxChecked = ""
	hidden = ""
        if(type == "radio")radioChecked = "checked"
        else if(type == "file") fileChecked = "checked"
	else if(type == "checkbox") checkBoxChecked = "checked"
        else textChecked = "checked"
        fieldType = "<div class=\"form-group\"><label>Field Type</label><label class=\"radio-inline\"><input name=\"fieldType"+noFields+"\" value=\"radio\" type=\"radio\" "+radioChecked+"></input>Radio Button</label><label class=\"radio-inline\"><input name=\"fieldType"+noFields+"\" value=\"file\" type=\"radio\" "+fileChecked+" >File Upload</label><label class=\"radio-inline\"><input name=\"fieldType"+noFields+"\" value=\"text\" type=\"radio\" "+textChecked+" >Text Box</label><label class=\"radio-inline\"><input name=\"fieldType"+noFields+"\" value=\"checkbox\" type=\"radio\" "+checkBoxChecked+" >CheckBox</label></div>"
		
	radioOptions = "<div class=\"form-group\"><label>Enter Options</label><input class=\"form-control\" placeholder=\"Enter options seperated by ; for radiobutton and checkbox\" name=\"radioOptions"+noFields+"\" value=\""+radioOptions+"\"></input><br></div>"

	placeholder = "<div class=\"form-group\"><label>Placeholder Value</label><input class=\"form-control\" name=\"placeholder"+noFields+"\"value=\""+placeholder+"\"></input><br></div>"

	validation = "<div class=\"form-group\"><label>Validation Value</label><input class=\"form-control\" name=\"validation"+noFields+"\"value=\""+validation+"\" placeholder=\"Regex input\"></input><br></div>"
	
        newDiv.innerHTML = "<label>Field Label</label><input class=\"form-control\" name=\"label"+noFields+"\" value=\""+description+"\" required></input><br>"+fieldType+radioOptions+placeholder+validation+"<input type=\"button\" onclick=\"removeField("+noFields+")\" value=\"Remove\"/>"
        noFields += 1
        document.getElementById("formFields").appendChild(newDiv)
      }
      function removeField(fieldID){
        document.getElementById("formField"+fieldID).innerHTML = ""
      }
      </script>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <title>Create Form</title>

      
        <style>
       
        </style>

      </head>

      <body>

        <div id="wrapper">
          <!-- Page Content -->
          <div id="page-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h2 class="page-header">Form Designer{{comments.0.course}}</h2>
                </div>
                <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
              <!--The list of courses-->
              <div class="row">
                <div class="col-lg-12">
                  <h3>Some Basic Info</h3>
                  <form action="add-fields" method="post">
                  {%csrf_token%}
                    <input type="hidden" value="{{course}}" name="course">
                    <div class="form-group">
                      Gender of Eligible Voters: 
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleGender" value="m" {% if eligibleGender == "m" %}checked{% endif %}>Male
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleGender" value="f" {% if eligibleGender == 'f' %}checked{% endif %}>Female
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleGender" value="a" {% if eligibleGender == 'a' %}checked{% endif %}>Any
                          </label>
                      </div>
                    </div>
                    <div class="form-group">
                      Gender of Eligible Voters: 
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="btech" {% if eligibleCourse == 'btech' %}checked{% endif %}>B.Tech
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="mtech" {% if eligibleCourse == 'mtech' %}checked{% endif %}>M.Tech
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="phd" {% if eligibleCourse == 'phd' %}checked{% endif %}>PhD
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="other" {% if eligibleCourse == 'other' %}checked{% endif %}>Other
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="prof" {% if eligibleCourse == 'prof' %}checked{% endif %}>Professor
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="eligibleCourse" value="a" {% if eligibleCourse == 'a' %}checked{% endif %}>Any
                          </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Number of Vacancies: <input type="text" name="postCount" description="The number of candidates who will be elected"/></label>
                    </div>
                    <h3>Customizable Fields</h3>
                    <div id="formFields">
             
                    </div>
			<script>
				{% for course in Post_list %}
				  addField("{{course.description}}", "{{course.type}}", "{{course.options}}", "{{course.placeholder}}", "{{course.validation}}");
				{% endfor %}
				{% if alert %}
					alert("{{alert}}");
				{% endif %}
			</script>
                    <input type="button" name="btnAddField" onclick="addField('','','','','')" value="Add new"/>
                    <p><button type="submit" class="btn btn-primary">Submit</button></p>
                  </form>
                </div>
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /#page-wrapper -->

            </div>
          </body>

          </html>
{% endblock %}
