{% extends "blank-page.html" %}
{% block content %}
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            IITG Gymkhana Election Portal
                            <small>2015</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Do Send An Email</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> {{pagetitle}}
                            </li>
                        </ol>
                    </div>
                </div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="mailto:{{username}}@iitg.ernet.in">Send Email</a></p>
			</div>
			<div class="panel-body">
				<p>It might be a good idea to inform the candidate of your decision. Please send an email to <a href="mailto:{{username}}@iitg.ernet.in"> {{username}}@iitg.ernet.in</a>. Given below is a sample email that you may choose to send</p>
				<div class="jumbotron">
					{% if approved %}
						<p>Dear {{name}},</p>
						<p> I am pleased to inform you that your request to nominate yourself as a candidate for this year's gymkhana elections had been approved. Your information page and discussion pages have been created. You may login to the portal to access them.</p>
						<p>Whishing you the best of luck in your endeavours</p>
						<p>Regards, <br/>CEO, Gymkhana Elections</p>
					{% else %}
						<p>Dear {{name}},</p>
						<p>I am sorry to inform you that your nomination request for the Gymkhana elections has not been approved because ...</p>
						<p>Please contact me in case you think this is in error although this rejection has been decided only after a rigorous review procedure.
						<p>Whishing you the best of luck in your endeavours</p>
						<p>Regards, <br/>CEO, Gymkhana Elections</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}