{% extends "blank-page.html" %}
{% block content %}

                        <h1 class="page-header">
                            Candidate List
                            <small>{{ username }}</small>
                        </h1>

            {% for post, candidates in posts.items %}
                <ul>
                    <li>
                        <h3>{{post}}</h3>
                        <ul>
                            {% for candidate in candidates %}
                                    <li><h3><a href="/gems/discuss/{{candidate.id}}">{{candidate.name}}</a></h3></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endfor %}
{% endblock %}