{% extends "blank-page.html" %}
{% block content %}

                        <h1 class="page-header">
                            Candidate Information
                        </h1>
                        <h3>{{candidateName}} - <small>{{username}}@iitg.ernet.in</small></h3>
                        <br/>
                        <form action="/gems/candidates/view-candidate-information" method="post">
                            {% csrf_token %}
                        
            <img src="{{photo}}" width="200px" height="300px"></img>

            {% for detail in details %}
                <h3>{{detail.description}}: 
                {% if detail.type == "file" %}
                    <a href="{{detail.value}}">Click here</a>
                {% else %}
                    {{detail.value}}
                {% endif %}
                </h3>
            {% endfor %}
            <input type="hidden" name="username" value="{{username}}"/>
                {% if isAdmin %}
                    {% if isApproved %}
                        <button type="submit" class="btn btn-success">Approve Candidate</button>
                    {% else %}
                        <button type="submit" class="btn btn-danger">Disapprove Candidate</button>
                    {% endif %}
                {% endif %}
            </form>
{% endblock %}