{% extends "blank-page.html" %}
{% block content %}

                        <h1 class="page-header">
                            Candidate Information
                            <small>{{ username }}</small>
                        </h1>
            <img src="{{photo}}" width="200px" height="300px"></img>

            {% for detail in details %}
                <h3>{{detail.description}}: 
                {% if detail.type == "file" %}
                    <a href="{{detail.value}}">Click here</a>
                {% else %}
                    {{detail.value}}
                {% endif %}
                </h3>
            {% endfor %}
{% endblock %}