{% extends "blank-page.html" %}
{% block content %}

                        <h1 class="page-header">
                            Candidate Information
                            <small>{{ username }}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Blank Page
                            </li>
                        </ol>
            <img src="{{photo}}"></img>

            {% for detail in details %}
                <h3>{{detail.description}}: 
                {% if detail.type == "file" %}
                    <a href="{{detail.value}}">Click here</a>
                {% else %}
                    {{detail.value}}
                {% endif %}
                </h3>
            {% endfor %}
{% endblock %}