{% extends "voterblank.html" %}
{% block content %}
<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            IITG Gymkhana Election Portal
                            <small>2015</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> {{pagetitle}}
                            </li>
                        </ol>
                    </div>
                </div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/register/">Register</a></p>
			</div>
			<div class="panel-body">
				<p>You can nominate yourself for candidature by clicking here. Just select what post you want to stand for and fill in the required details. Please be careful while filling the form, as once filled, it cannot be modified</p>
				<p>Once you have filled out the form, the administrator will validate it, and if allis well, approve your candidature. In case a decision is not made soon, please feel free to contact the CEO directly. Once approved, your name will appear in the list of candidates</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/candidates/view-candidate-list">View List of Candidates</a>
			</div>
			<div class="panel-body">
				<p>You may view the details of all the candidates contesting the various posts here. Clicking on the link will take you to a more detailed view. Note that only details of the approved candidates are shown here. So in case a candidate has not been approved by the administrator yet, please be patient, they will notify you of their decision soon.</p>
				<p>Please carefully view the details of all candidates before you cast your vote. Your vote matter and make sure it is an informed choice. In case you want any clarifications you may contact the administrator</p>
			</div>
			</div>
		</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/voterHome/voting-page">Cast Vote</a>
			</div>
			<div class="panel-body">
				<p>You may cast your vote here <i>once the election has begin</i> You will be shown a list of posts and the candidates contesting for them, please make your choice and hit submit. You will be required to give your password again, so keep it ready. It is also a good idea to change your password to something more memorable before the election begins</p>
				<p>Note that you may cast your vote only once, so please cast it carefully. Rest assured that your vote is entirely confidential and the vote you cast will be exactly the vote that is counted and this system has been carefully designed to prevent many kinds of attacks.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/voterHome/voter-info">Your Account</a>
			</div>
			<div class="panel-body">
				<p>Do verify if your details here are correctly displayed. In case there is any descrepancy, please do contact the administrator so that it can be taken care of. This is also the place where you can change your password to something more memorable.</p>
				<p>You must have recieved an email informing you of your password and username (which is the same as the webmail id). You will need your password while you vote or participate in discussions about the candidates.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/discuss/list">Discuss</a>
			</div>
			<div class="panel-body">
				<p>Democracy is built on the pillars of active discussion among and between the electorate and the candidates. Raise your issues and discuss problems and their candidates in this inbuilt discussion page. If you are a candidate, this page could be key to your public relations.</p>
				<p>Please note that the usual rules of etiquette apply and while you may be firm, but politeness is essential. The administrator may decide to take action against those who break the decorum.<p>
				<p>Wishing you a healthy discussion and informed election!</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/gems/voterHome/discuss/list">Election Results</a>
			</div>
			<div class="panel-body">
				<p>The ultimate purpose behind having elections is to elect candidates. Once the election is over, the results will appear here, showing the fraction of votes obtained by each candidate.</p>
				<p>Soon the administrator will also release an excel file containing the details of each cast (while maintaining confidentiality of course) and the corresponding certificate. Hence anybody can verify that the votes are as this page claims them to be.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
