
{% extends "blank-page.html" %}
{% load staticfiles %}
{% block content %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">

      {% for post in data %}
          {% if forloop.first %}
            <li class="active"><a href="#tab{{ forloop.revcounter }}" data-toggle="tab">{{ post.post }}</a></li>
          {% else %}
            <li><a href="#tab{{ forloop.revcounter }}" data-toggle="tab">{{ post.post }}</a></li>
          {% endif %}
      {% endfor %}


  </ul>
</div>

<form action="/mainsite/confirm" method="post">

  <div class="tab-content">

      {% for post in data %}

       {% if forloop.first %}
            <div class="tab-pane active" id="tab{{ forloop.revcounter }}">
            <p>Vote for {{ post.post }}</p>

            <div data-toggle="checkboxes" data-max={{ post.postcount }}>
            <ul>
            {% for cand in post.candidates %}
                <label onclick="return check()"><input type="checkbox" name="{{ post.post }}.{{ cand }}" id="{{ forloop.revcounter }}"> {{ cand }}</label><br>

            {% endfor %}
                <label onclick="return check2()"><input type="checkbox" name="nota" id="0">NOTA</label>
            </ul>
            </div>
            </div>
        {% else %}
            <div class="tab-pane" id="tab{{ forloop.revcounter }}">
            <p>Vote for {{ post.post }}</p>
            <div data-toggle="checkboxes" data-max={{ post.postcount }}>
            <ul>
            {% for cand in post.candidates %}
                <label onclick="return check()"><input type="checkbox" name="{{ post.post }}.{{ cand }}" id="{{ forloop.revcounter }}"> {{ cand }}</label><br>

            {% endfor %}
            <label onclick="return check2()"><input type="checkbox" name="nota" id="0">NOTA</label>
            </ul>
            </div>
            </div>
        {% endif %}
        {% endfor %}
        <button type="submit" id="submit" class="btn btn-default" disabled>Submit</button>
       <a href="#" id="prv" class="btn btn-primary">&lt;&lt;Previous</a>
      <a href="#" id="nxt" class="btn btn-primary">Next>></a>


  </div>
</form>

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.init.js" %}"></script>
<script type="text/javascript">


//navigate among tabs
$('#nxt').click(function () {
    $('.nav-tabs > .active').next('li').find('a').trigger('click');
});
$('#prv').click(function () {
    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});


//returns as object the element with id as childID in a particular container
function GetElementInsideContainer(containerID, childID) {
    var elm = {};
    var elms = document.getElementById(containerID).getElementsByTagName("*");
    for (var i = 0; i < elms.length; i++) {
        if (elms[i].id === childID) {
            elm = elms[i];
            break;
        }
    }
    return elm;
}

//disables the checkboxes if user selects NOTA option
function check2()
{
    if (document.getElementById('0').checked == 1)
    {
        i=1;
        while(!!document.getElementById(i))
        {
            document.getElementById(i).checked = false;
            document.getElementById(i).disabled = true;
            i++;
        }
    }
    else
    {
        i=1;
        while(!!document.getElementById(i))
        {
            document.getElementById(i).disabled = false;
            i++;
        }
    }
    check();
}
//disables or enables submit button if the user has voted for each post
function check()
{
    var i = 1, j=0;
    var str1="tab";
    var success = new Array;

    while(1)
    {
        obj=document.getElementById(str1.concat(i));
        if (!!document.getElementById(str1.concat(i))==0)
        {
            break;
        }
        else
        {
            success[i]=0;
            j=0;
            while(1)
            {
                e=GetElementInsideContainer(str1.concat(i), j.toString());
                if(e.checked)
                {
                    success[i] = 1;
                }
                if(!e.id)
                {
                    break;
                }
                j++;
            }
        }
        i++;

    }


    var flag=1;
    for (k=0; k<i; k++)
    {
        if(success[k]==0)
        {
            flag=0;
            break;
        }
    }

    if(flag==1)
    {
        document.getElementById("submit").disabled=false;
    }
    else
    {
        document.getElementById("submit").disabled=true;
    }
}

</script>

{% endblock %}
